Build
Unity/Library
Unity/Assets/_Assemblies
Unity/Assembly-CSharp*
Unity/RuneSlinger-CSharp*
Unity/Unity.sln
Unity/Unity-CSharp.sln

#Visual Studio
*.[Oo]bj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*._i.c
*._p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/

#project files
[Bb]uild/

#subversion
.svn

