<log4net>
  <appender name="logFileAppender" type ="log4net.Appender.RollingFileAppender">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <param name="File" value="log/RuneSlinger.app.log" />
    <layout type="log4net.layout.patternlayout">
      <param name="ConversionPattern" value="%d&#9;[%t]&#9;%-5p&#9;%c&#9;%message&#9;%n%n" />
    </layout>
  </appender>
  <appender name="PhotonlogFileAppender" type ="log4net.Appender.RollingFileAppender">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <param name="File" value="log/RuneSlinger.Photon.log" />
    <layout type="log4net.layout.patternlayout">
      <param name="ConversionPattern" value="%d&#9;[%t]&#9;%-5p&#9;%c&#9;%message&#9;%n%n" />
    </layout>
  </appender>
  <appender name="DebugSQL" type="log4net.Appender.RollingFileAppender">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <param name="File" value="log/RuneSlinger.sql.log" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="INFO"/>
    <appender-ref ref="PhotonlogFileAppender"/>
  </root>
  <logger name="RuneSlinger" additivity="false">
    <level value="DEBUG"/>
    <appender-ref ref="logFileAppender"/>
  </logger>
  <logger name="NHibernate" additivity="false">
    <level value="ALL" />
    <appender-ref ref="DebugSQL" />
  </logger>
</log4net>