<log4net>
  <appender name="logFileAppender" type ="log4net.Appender.RollingFileAppender">
    <param name="File" value="log/RuneSlinger.app.log" />
    <layout type="log4net.layout.patternlayout">
      <param name="ConversionPattern" value="%d&#9;[%t]&#9;%-5p&#9;%c&#9;%message&#9;%n%n" />
    </layout>
  </appender>
  <appender name="PhotonlogFileAppender" type ="log4net.Appender.RollingFileAppender">
    <param name="File" value="log/RuneSlinger.Photon.log" />
    <layout type="log4net.layout.patternlayout">
      <param name="ConversionPattern" value="%d&#9;[%t]&#9;%-5p&#9;%c&#9;%message&#9;%n%n" />
    </layout>
  </appender>
  <root>
    <level value="INFO"/>
    <appender-ref ref="PhotonlogFileAppender"/>
  </root>
  <logger name="RuneSlinger" additivity="false">
    <level value="DEBUG"/>
    <appender-ref ref="logFileAppender"/>
  </logger>
</log4net>